.user-sm img {
    width: 80px;
}

.user-md img {
    width: 150px;
}

.circle {
    border-radius: 50%;
    width: 20px;    
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    opacity: 0.5;
    animation: fadeOut 5s infinite;
}

@keyframes fadeOut {
    from{ opacity: 1; }
    to{opacity: 0.6}
}